.mover{
    align-self: center;
}
ion-content.valign-wrapper2{
    // --ion-background-color: #00035C;
     --background: url('../../assets/imgs/background.png');
 }
 ion-header.valign-wrapper3{
    // --ion-background-color: #00035C;
     --background: url('../../assets/imgs/background.png');
 }

 .valign-wrapper4{
    --ion-background-color: rgba(255,255,255,0.6);
 }