.centrado1{
    height:120px;
    margin-left: 100px;
}
.centrado2{
    height: 120px;
    margin-left: 110px;
}
.centrado3{
    height: 120px;
    margin-left: 120px;
}
ion-content.valign-wrapper2{
    // --ion-background-color: #00035C;
     --background: url('../../assets/imgs/background.png');
 }
ion-title.background{
    --ion-background-color: rgba(150,255,150,255,0) 
};

 .valign-wrapper4{
    --ion-background-color: rgba(255,255,255,0.3);
 }